.card-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction:row;
    column-gap: 0.5cm;
    row-gap: 0.5cm;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 3.125rem;
    margin-top: 3rem;
}

.welcome {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0px;
  text-align: center;
}

@media(max-width : 768px) {
  html {
    font-size: 13px;
  }
}

@media(max-width : 768px) {
  .profile-button {
    margin-left: 0.625rem;
  }
}

@media(max-width : 768px) {
  .Useful-links {
    margin-left: 3rem;
    width: 100%;
    text-align: center;
  }
}

@media(max-width : 768px) {
  .contact {
    margin-left: 1rem;
    margin-right: 1rem;
    width: 100%;
    text-align: center;
  }
}

@media(max-width : 768px) {
  .policy {
    margin-right: 3rem;
    width: 100%;
    text-align: center;
  }
}