.card-container-wealth{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction:row;
    column-gap: 0.5cm;
    row-gap: 0.5cm;
    transition: transform 0.5s ease-in-out;
    padding-bottom: 3.125rem;
    margin-top: 50px;
}