.card:hover {
  transform: translateY(-2px);
  border: 2px solid #0033cc;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.8);
}

.Total-expenses-trans {
  display: inline-block;
  width: 28rem;
  height: 210px;
  border: 2px solid;
  border-radius: 18px;
  color: white;
  background: linear-gradient(to bottom, #4a7dff 0%, #0040ff 50%, #0033cc 100%);
  font-weight: 500;
}

.Total-expense-amount-trans {
  font-size: 17px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 20px;
}

.heading-trans {
  font-size: 22px;
  font-family: arial;
  margin-left: 20px;
  margin-top: 20px;
}