.card-grid.sidebar-open {
  filter: blur(3px);
}

.card {
  width: 80%;
  height: 200px;
  border-radius: 18px;
  color: white;
  background: linear-gradient(to bottom, #4a7dff 0%, #0040ff 50%, #0033cc 100%);
  font-weight: 500;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Total-expenses {
  display: inline-block;
  width: 30rem;
  height: 210px;
  border: 2px solid;
  border-radius: 18px;
  color: white;
  background: linear-gradient(to bottom, #4a7dff 0%, #0040ff 50%, #0033cc 100%);
  font-weight: 500;
}

.heading {
  font-size: 20px;
  font-family: arial;
  margin-left: 20px;
  margin-top: 20px;
}

.Total-expense-amount {
  font-size: 35px;
  margin-left: 20px;
  margin-top: 50px;
}